/* #region Site defaults */

.Site-header {
  background-color: #282c34;
  padding: 0.05em;
  border-style: solid;
  display: grid;
  grid-template-columns: 5em auto;
  align-items: center;
}

.Site-logo {
  height: 5em;
  pointer-events: none;
  grid-column: col 0/ span 1;
  padding-left: 0.25em;
}

.Site-nav {
  grid-column: col 1/ span 1;
}

body {
  background-color: #282c34;
}

/* #endregion */
