.NavigationBar {
    display: grid;
    grid-template-columns: repeat(3, 10em [col]);
    height: 2.5em;
    column-gap: 0.5em;
    margin: 0.5em;
}

.NavItem {
    color:white;
    border-color: black;
    background-color:gray;
    border-style: solid;
    border-radius: 5% / 25%;
    text-align: center;
}

#item-a {
    grid-column: col 0/ span 1;
}

#item-b {
    grid-column: col 1/ span 1;
}